// Import Bootstrap with a namespace and override variables
@use 'bootstrap' with (
  $primary: #083fa0, // Custom primary color
  $secondary: #33c1ff // Custom secondary color
);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #f0f0f0;
  font-family: 'Raleway', Arial, sans-serif;
}

h1 {
  color: #333;
  font-weight: 700; // Bold
}

p {
  font-weight: 400; // Regular
}

.light-text {
  font-weight: 300; // Light
}

.thin-text {
  font-weight: 100; // Thin
}